@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Radical Gaming</h1>
    <h3>
        Your Gateway to Digital Adventures!
    </h3>

    <p>
        Radical Gaming was founded in 2024 by the 4 creative minds of David Diep, Charlie Ljungberg, Rikard Mohlin and Albin Dufwenberg.
    </p>
    <p>At Radical Gaming, we're more than just an e-commerce platform; we're a community of passionate gamers dedicated to bringing you the latest and greatest in digital entertainment. Founded by a group of avid gamers with a shared vision, our mission is simple: to provide gamers of all levels with access to top-tier gaming experiences, right at their fingertips.</p>
    <p>What sets us apart? It's not just our extensive collection of games or our user-friendly interface. It's our commitment to innovation and excellence in everything we do. Powered by cutting-edge technology and driven by a love for gaming, we've created an immersive online space where gamers can discover, explore, and connect like never before.</p>
    <p>Behind the scenes, our team works tirelessly to curate a diverse selection of titles, ensuring there's something for every gamer, whether you're into heart-pounding action, immersive role-playing adventures, or pulse-pounding multiplayer showdowns. And with our seamless C# and MVC framework, coupled with a robust SQL database, we've built a platform that's as reliable as it is dynamic.</p>
    <p>But Radical Gaming isn't just about selling games; it's about fostering a sense of community. Through forums, events, and competitions, we're bringing gamers together from across the globe, creating a space where friendships are forged, strategies are shared, and memories are made.</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>